---
layout: page
title: Downloads
---

<div class="row">
  <div class="col-md-6">
    <div class="container">
      {% capture install_include %}{% include mminfo/installation.md %}{% endcapture %}
      {{ install_include | markdownify }}
    </div>
  </div>
  <div class="col-md-6">
    <div class="container">
      <h3>Downloads</h3>
      <div class="row">
        <div class="container">
          {% capture mhq_include %}{% include mminfo/mhq_dl_info.md %}{% endcapture %}
          {{ mhq_include | markdownify }}
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6'>
          <div class="card dl-card">
            <div class='card-header'>
              <i class="fa fa-download"></i> MHQ Stable
            </div>
            <div class='card-body'>
              <h5 class='card-title'>{{ site.data.current_releases.stable }}</h5>
              <p class='card-text'>
                {{ site.data.current_releases.stable_date }}<br><br>
                <i class="fa fa-windows"></i> <a class="card-link" href="https://github.com/MegaMek/mekhq/releases/download/v{{ site.data.current_releases.stable }}/mekhq-windows-{{ site.data.current_releases.stable }}.zip">Windows</a><br>
                <i class="fa fa-linux"></i> <a class="card-link" href="https://github.com/MegaMek/mekhq/releases/download/v{{ site.data.current_releases.stable }}/mekhq-{{ site.data.current_releases.stable }}.tar.gz">Linux</a><br>
                <i class="fa fa-apple"></i> <a class="card-link" href="https://github.com/MegaMek/mekhq/releases/download/v{{ site.data.current_releases.stable }}/mekhq-{{ site.data.current_releases.stable }}.tar.gz">macOS</a>
              </p>
            </div>
          </div>
        </div>
        <div class='col-sm-6'>
          <div class="card dl-card">
            <div class='card-header'>
              <i class="fa fa-download"></i> MHQ Dev
            </div>
            <div class='card-body'>
              <h5 class='card-title'>{{ site.data.current_releases.dev }}</h5>
              <p class='card-text'>
                {{ site.data.current_releases.dev_date }}<br><br>
                <i class="fa fa-windows"></i> <a class="card-link" href="https://github.com/MegaMek/mekhq/releases/download/v{{ site.data.current_releases.dev }}/mekhq-windows-{{ site.data.current_releases.dev }}.zip">Windows</a><br>
                <i class="fa fa-linux"></i> <a class="card-link" href="https://github.com/MegaMek/mekhq/releases/download/v{{ site.data.current_releases.dev }}/mekhq-{{ site.data.current_releases.dev }}.tar.gz">Linux</a><br>
                <i class="fa fa-apple"></i> <a class="card-link" href="https://github.com/MegaMek/mekhq/releases/download/v{{ site.data.current_releases.dev }}/mekhq-{{ site.data.current_releases.dev }}.tar.gz">macOS</a>
              </p>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        {% capture mm_include %}{% include mminfo/mm_dl_info.md %}{% endcapture %}
        {{ mm_include | markdownify }}
      </div>
    </div>
    <div class="row">
      <div class='col-sm-6'>
        <div class="card dl-card">
          <div class='card-header'>
            <i class="fa fa-download"></i> MM Stable
          </div>
          <div class='card-body'>
            <h5 class='card-title'>{{ site.data.current_releases.stable }}</h5>
            <p class='card-text'>
              {{ site.data.current_releases.stable_date }}<br><br>
              <i class="fa fa-windows"></i> <a class="card-link" href="https://github.com/MegaMek/megamek/releases/download/v{{ site.data.current_releases.stable }}/megamek-windows-{{ site.data.current_releases.stable }}.zip">Windows</a><br>
              <i class="fa fa-linux"></i> <a class="card-link" href="https://github.com/MegaMek/megamek/releases/download/v{{ site.data.current_releases.stable }}/megamek-{{ site.data.current_releases.stable }}.tar.gz">Linux</a><br>
              <i class="fa fa-apple"></i> <a class="card-link" href="https://github.com/MegaMek/megamek/releases/download/v{{ site.data.current_releases.stable }}/megamek-{{ site.data.current_releases.stable }}.tar.gz">macOS</a>
            </p>
          </div>
        </div>
      </div>
      <div class='col-sm-6'>
        <div class="card dl-card">
          <div class='card-header'>
            <i class="fa fa-download"></i> MM Dev
          </div>
          <div class='card-body'>
            <h5 class='card-title'>{{ site.data.current_releases.dev }}</h5>
            <p class='card-text'>
              {{ site.data.current_releases.dev_date }}<br><br>
              <i class="fa fa-windows"></i> <a class="card-link" href="https://github.com/MegaMek/megamek/releases/download/v{{ site.data.current_releases.dev }}/megamek-windows-{{ site.data.current_releases.dev }}.zip">Windows</a><br>
              <i class="fa fa-linux"></i> <a class="card-link" href="https://github.com/MegaMek/megamek/releases/download/v{{ site.data.current_releases.dev }}/megamek-{{ site.data.current_releases.dev }}.tar.gz">Linux</a><br>
              <i class="fa fa-apple"></i> <a class="card-link" href="https://github.com/MegaMek/megamek/releases/download/v{{ site.data.current_releases.dev }}/megamek-{{ site.data.current_releases.dev }}.tar.gz">macOS</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        {% capture mml_include %}{% include mminfo/mml_dl_info.md %}{% endcapture %}
        {{ mml_include | markdownify }}
      </div>
    </div>
    <div class="row">
      <div class='col-sm-6'>
        <div class="card dl-card">
          <div class='card-header'>
            <i class="fa fa-download"></i> MML Stable
          </div>
          <div class='card-body'>
            <h5 class='card-title'>{{ site.data.current_releases.stable }}</h5>
            <p class='card-text'>
              {{ site.data.current_releases.stable_date }}<br><br>
              <i class="fa fa-windows"></i> <a class="card-link" href="https://github.com/MegaMek/megameklab/releases/download/v{{ site.data.current_releases.stable }}/megameklab-windows-{{ site.data.current_releases.stable }}.zip">Windows</a><br>
              <i class="fa fa-linux"></i> <a class="card-link" href="https://github.com/MegaMek/megameklab/releases/download/v{{ site.data.current_releases.stable }}/megameklab-{{ site.data.current_releases.stable }}.tar.gz">Linux</a><br>
              <i class="fa fa-apple"></i> <a class="card-link" href="https://github.com/MegaMek/megameklab/releases/download/v{{ site.data.current_releases.stable }}/megameklab-{{ site.data.current_releases.stable }}.tar.gz">macOS</a>
            </p>
          </div>
        </div>
      </div>
      <div class='col-sm-6'>
        <div class="card dl-card">
          <div class='card-header'>
            <i class="fa fa-download"></i> MML Dev
          </div>
          <div class='card-body'>
            <h5 class='card-title'>{{ site.data.current_releases.dev }}</h5>
            <p class='card-text'>
              {{ site.data.current_releases.dev_date }}<br><br>
              <i class="fa fa-windows"></i> <a class="card-link" href="https://github.com/MegaMek/megameklab/releases/download/v{{ site.data.current_releases.dev }}/megameklab-windows-{{ site.data.current_releases.dev }}.zip">Windows</a><br>
              <i class="fa fa-linux"></i> <a class="card-link" href="https://github.com/MegaMek/megameklab/releases/download/v{{ site.data.current_releases.dev }}/megameklab-{{ site.data.current_releases.dev }}.tar.gz">Linux</a><br>
              <i class="fa fa-apple"></i> <a class="card-link" href="https://github.com/MegaMek/megameklab/releases/download/v{{ site.data.current_releases.dev }}/megameklab-{{ site.data.current_releases.dev }}.tar.gz">macOS</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        {% capture mme_include %}{% include mminfo/mme_dl_info.md %}{% endcapture %}
        {{ mme_include | markdownify }}
      </div>
    </div>
    <div class="row">
      <div class='col-sm-6'>
        <div class="card dl-card">
          <div class='card-header'>
            <i class="fa fa-download"></i> Extras
          </div>
          <div class='card-body'>
            <h5 class='card-title'>{{ site.data.current_releases.extras }}</h5>
            <p class='card-text'>
              {{ site.data.current_releases.extras_date }}<br><br>
              <i class="fa fa-windows"></i> <a class="card-link" href="https://github.com/MegaMek/megamek-extras/releases/download/v{{ site.data.current_releases.extras }}/megamek-extras-{{ site.data.current_releases.extras }}.zip">Windows</a><br>
              <i class="fa fa-linux"></i> <a class="card-link" href="https://github.com/MegaMek/megamek-extras/releases/download/v{{ site.data.current_releases.extras }}/megamek-extras-{{ site.data.current_releases.extras }}.zip">Linux</a><br>
              <i class="fa fa-apple"></i> <a class="card-link" href="https://github.com/MegaMek/megamek-extras/releases/download/v{{ site.data.current_releases.extras }}/megamek-extras-{{ site.data.current_releases.extras }}.zip">macOS</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
