---
layout: page
title: FAQ
---
<div class='row pt-2'>
  <div class='col'>
    <h4>Technical Stuff</h4>
  </div>
</div>
{% for item in site.data.faq.faq_tech %}
<div class='row mb-2'>
  <div class='col'>
    <h5 class="faq">{{ item.question }}</h5>
    <blockquote class="faq blockquote p-2">
      <p>
        {% capture answer %}{{ item.answer }}{% endcapture %}
        {{ answer | markdownify }}
      </p>
    </blockquote>
  </div>
</div>
{% endfor %}

<div class='row pt-2 mt-5'>
  <div class='col'>
    <h4>Unit Questions</h4>
  </div>
</div>

{% for item in site.data.faq.faq_unit %}
<div class='row mb-2'>
  <div class='col'>
    <h5 class="faq">{{ item.question }}</h5>
    <blockquote class="faq blockquote p-2">
      <p>
        {% capture answer %}{{ item.answer }}{% endcapture %}
        {{ answer | markdownify }}
      </p>
    </blockquote>
  </div>
</div>
{% endfor %}

<div class='row pt-2 mt-5'>
  <div class='col'>
    <h4>Misc Questions</h4>
  </div>
</div>

{% for item in site.data.faq.faq_misc %}
<div class='row mb-2'>
  <div class='col'>
    <h5 class="faq">{{ item.question }}</h5>
    <blockquote class="faq blockquote p-2">
      <p>
        {% capture answer %}{{ item.answer }}{% endcapture %}
        {{ answer | markdownify }}
      </p>
    </blockquote>
  </div>
</div>
{% endfor %}