---
layout: page
---

<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% capture about_include %}{% include mminfo/about.md %}{% endcapture %}
      {{ about_include | markdownify }}          
    </div>
    <div class="col-md-4">
      <center>
        <img src="assets/images/megamek.png" alt='MekHQ' />
        <button class="btn"><i class="fa fa-download"></i> Download Latest Release</button>
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br>
      <div id='carousel' class='carousel slide carousel-fade' data-ride='carousel'>
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
          <div class='carousel-inner'>
            <div class='carousel-item active'>
              <image class='d-block w-100' src='assets/images/screenshots/megamek_screen1.png' />
            </div>
            <div class='carousel-item'>
              <image class='d-block w-100' src='assets/images/screenshots/mekhq_screen2.png' />
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {% capture features_include %}{% include mminfo/features.md %}{% endcapture %}
      {{ features_include | markdownify }}
    </div>
    <div class="col-md-6">
      <h3>System Requirements</h3>
    </div>
  </div>
</div>
