---
title: Currently Running Servers
---

{% include header.html %}

<main role="main">
  <div class='container'>
    <h3>{{ page.title }}</h3>
    <p class='lead'>
      Currently registered servers running a MegaMek instance.
    </p>

    <div id='servers'>
    </div>
    
  </div>
</main>
{% include footer.html %}
<script type='text/javascript'>
$(document).ready(function() {
setInterval(function() {
  $("#servers").load('https://api.megamek.org/servers.js');
}, 1000);
});
</script>
</body>
</html>
