  <footer>
    <div class="container footer">
      <div class='row'>
        <div class='col'>
          &copy; 2025 MegaMek
        </div>
        <div class='col text-end'>
          <a class="text-light" href="https://www.facebook.com/MegaMek"><i class="fab fa-facebook"><span class='sr-only'>Facebook</span></i></a>
          <a class="text-light" href="https://twitter.com/MegaMekTeam"><i class="fab fa-twitter"><span class='sr-only'>Twitter</span></i></a>
          <a class="text-light" href="https://www.github.com/megamek"><i class="fab fa-github"><span class='sr-only'>GitHub</span></i></a>
          <a class="text-light" href="{{ site.url }}/feed.xml"><i class="fa-solid fa-rss"><span class='sr-only'>RSS News Feed</span></i></a>
        </div>
      </div>
      <div class='row'>
        <div class='col'>
          MechWarrior, BattleMech, `Mech and AeroTech are registered trademarks of
          <a href="http://www.topps.com/" class='footer-link'>The Topps Company, Inc.</a>
          All Rights Reserved.
          <br>
          <a href="http://www.catalystgamelabs.com/" class='footer-link'>Catalyst Game Labs</a>
          and the <a href="http://www.catalystgamelabs.com/" class='footer-link'>Catalyst Game Labs</a>
          logo are trademarks of <a href="http://www.imrpro.com" class='footer-link'>InMediaRes Productions, LLC.</a>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="{{ '/assets/js/site.js' | relative_url }}" type="text/javascript"></script>
</body>
</html>
