<html lang='en'>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content= "{{ site.description }}" />
  <meta name="author" content="{{ site.author }}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw= sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB sha512-iqRdf+0KMFmNZgdsA+8bz1MWIIXQBUCavPYVSVI83fcVfH2Y2PnNooLN04bgTNoUiQvIzidiIHJAcIP/uAEV9w==" crossorigin="anonymous">
  <link href="{{ '/assets/css/mmsite.css' | relative_url }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="banner-image">
          <div class="banner-box">
            <nav>
              <ul class="nav">
                <li><i class="fa fa-facebook fa-2x"></i></li>
                <li><i class="fa fa-twitter fa-2x"></i></li>
                <li><i class="fa fa-github fa-2x"></i></li>
              </ul>
            </nav>
          </div>
          <div class="banner-shade">
            <nav>
              <ul class="nav">
                <li><a href="{{ 'index.html' | relative_url }}">Home</a></li>
                <li><a href="{{ 'play.html' | relative_url }}">Play</a></li>
                <li><a href="{{ 'community.html' | relative_url }}">Community</a></li>
                <li><a href="{{ 'faq.html' | relative_url }}">FAQ</a></li>
                <li><a href="{{ 'downloads.html' | relative_url }}">Downloads</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
