<!DOCTYPE html>
<html lang='en'>

<head>
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="{{ site.author }}" />
  <meta name="keywords" content="megamek, mekhq, megameklab" />
  <meta property="og:image" content="https://megamek.github.io/assets/images/icons/megamek.png" />
  <meta property="og:site_name" content="MegaMek" />
  <meta property="og:type" content="object" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:url" content="https://megamek.github.io" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta name="twitter:image" content="https://megamek.github.io/assets/images/megamek_splash_spooky_hd.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/icons/favicon-apple-touch-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/icons/favicon-apple-touch-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/icons/favicon-apple-touch-144.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/icons/favicon-apple-touch-144.png">
  <link rel="icon" type="image/vnd.microsoft.icon" sizes="32x32 48x48" href="/assets/images/icons/favicon.ico">
  <link rel="icon" sizes="128x128" href="favicon.icns">
  <link rel="icon" href="/assets/images/icons/favicon.png" type="image/x-icon">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link href="{{ '/assets/css/mmsite.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/syntax.css' | relative_url }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-dark transparent navbar-expand-sm fixed-top">
      <a class="navbar-brand" href="{{ 'index.html' | relative_url }}">
        <img src="{{ '/assets/images/icons/mm_word_logo.png' | relative_url }}" height="35" alt="MegaMek Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          {% for menu_page in site.data.menu_pages %}
          {% if menu_page.name == page.title %}
          <a class="nav-item nav-link active" href="{{ menu_page.address | relative_url }}">{{ menu_page.name}}</a>
          {% else %}
          <a class="nav-item nav-link" href="{{ menu_page.address | relative_url }}">{{ menu_page.name}}</a>
          {% endif %}
          {% endfor %}
        </ul>
        <ul class="navbar-nav mr-0">
          <div class="tooltip-switch">
            <button id="switch-light" class="choose-light" type='button' data-toggle="tooltip" data-placement="bottom" title='Light Theme' aria-label="Switch: Light Theme"></button>
          </div>
          <div class="tooltip-switch">
            <button id="switch-dark" class="choose-dark" type='button' data-toggle="tooltip" data-placement="bottom" title='Dark Theme' aria-label="Switch: Dark Theme"></button>
          </div>
          <a class="nav-item nav-link active" href="https://www.facebook.com/MegaMek"><strong class="fa fa-facebook"><span class='sr-only'>Facebook</span></strong></a>
          <a class="nav-item nav-link active" href="https://twitter.com/MegaMekTeam"><strong class="fa fa-twitter"><span class='sr-only'>Twitter</span></strong></a>
          <a class="nav-item nav-link active"
            href="https://join.slack.com/t/megamek-public/shared_invite/enQtMzU1MTE1MDA2MTM0LWQ1YTMwN2Y5NTY0MDc4ZmU0NDNkNzE3ZDY0YWE1ZjE3MzJmYjdjODc4NTI3YzhjOGE0YjI4NWRmMjFiY2ZlZGY"><strong
              class="fa fa-slack"><span class='sr-only'>Slack</span></strong></a>
          <a class="nav-item nav-link active" href="https://forum.megamek.org"><strong class="fa fa-comments"><span class='sr-only'>MegaMek Forums</span></strong></a>
          <a class="nav-item nav-link active" href="https://www.github.com/megamek"><strong class="fa fa-github"><span class='sr-only'>GitHub</span></strong></a>
        </ul>
      </div>
    </nav>
  </header>
  <div class='container banner-image d-none d-sm-block d-sm-none d-md-block'></div>
