<html lang='en'>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content= "{{ site.description }}" />
  <meta name="author" content="{{ site.author }}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw= sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB sha512-iqRdf+0KMFmNZgdsA+8bz1MWIIXQBUCavPYVSVI83fcVfH2Y2PnNooLN04bgTNoUiQvIzidiIHJAcIP/uAEV9w==" crossorigin="anonymous">
  <link href="{{ '/assets/css/application.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/screenshots.css' | relative_url }}" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">MegaMek</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMegaMek" aria-controls="navbarMegaMek" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMegaMek">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ 'index.html' | relative_url }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'about.html' | relative_url }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'news.html' | relative_url }}">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'screenshots.html' | relative_url }}">Screenshots</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'faq.html' | relative_url }}">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'servers.html' | relative_url }}">Servers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'downloads.html' | relative_url }}">Download</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="social" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Social</a>
          <div class="dropdown-menu" aria-labelledby="social">
            <a class="dropdown-item" href="slack-invite.html">Slack</a>
            <a class='dropdown-item' href='forums/index.html'>Forums</a>
            <a class="dropdown-item" href="https://www.facebook.com/MegaMek">Facebook</a>
            <a class="dropdown-item" href="https://twitter.com/megamekteam">Twitter</a>
          </div>
        </li>
      </ul>
      <!--
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search The Forums" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    -->
    </div>
  </nav>
