body, html {
    height: 100%;
}

body {
  background-color: #3f3e3e;
  color: #dadfe1;
}

.banner-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../assets/images/mhq_splash.jpeg");

    /* Set a specific height */
    height: 350px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-shade {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 308px;
}

.banner-box {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 20%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 0px;
  left: 80%;
  height: 40px;
}

/* Navigation CSS */
.nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    text-align: center;
    left: 25%;
}
.nav li {
    list-style-type: none;
    width: 10%;
    float: left;
}

/*To not get the default bullet styling for nav*/
.nav li:before { 
  font-family: inherit !important;
  content: "";
  margin: 0 0 0 0;
  color: inherit !important;
}

.nav a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.container-fluid {
  padding: 0px;
}

.container {
  padding: 20px;
}

.btn {
  border: 10px;
  color: #dadfe1;
  background-color: grey;
  border: 2px solid #ffd700;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #939393;
  color: #ffd700;
}

h1,h2,h3 {
  text-align: center;
}

/* unvisited link */
a:link {
    color: #fffacd;
}

/* visited link */
a:visited {
    color: #fffacd;
}

/* mouse over link */
a:hover {
    color: #ffd700;
}

/* selected link */
a:active {
    color: #f89406;
}

.img-btn {
  float: left;
  height: 100px;
}

BUTTON SPAN {
    line-height: 14px;
    font-size: 14px;
    padding: 4px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;    
}

.cms-float-left {
    margin-right: 20px;
}
.cms-float-right {
    margin-left: 20px;
}

ul
{
	list-style-type: none;
}

li:before {    
font-family: 'FontAwesome';
content: '\f05b';
margin:0 5px 0 -15px;
color: #dadfe1;
}

li.news:before {    
font-family: 'FontAwesome';
content: '\f1ea';
margin:0 5px 0 -15px;
color: #dadfe1;
}
