---
---

/*
 * Theme definitions
 */

$themes: (light: (backgroundColor: #dadfe1,
    textColor: #000000,
    accentColor1: #0000a0,
    accentColor2: #800080,
    activeColor: #00ffff,
    cardColor: #adb5bd,
  ),
  dark: (backgroundColor: #282828, //#3f3e3e,
    textColor: #dadfe1,
    accentColor1: #fffacd,
    accentColor2: #ffd700,
    activeColor: #f89406,
    cardColor: #343a40,
  ),
);

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

/*
 * Implementation of themes
 */
@mixin themify($themes) {

  @each $theme,
  $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;

      @each $key,
      $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

/*******************************************************/
/* Variables                                           */
/*******************************************************/

//fonts
$font-stack: "Source Sans Pro",
Trebuchet MS,
Arial,
Helvetica,
Verdana,
sans-serif;

/*******************************************************/
/* Basics                                              */
/*******************************************************/
body,
html {
  height: 100%;
}

body {
  background-image: url("../../assets/images/backgrounds/hexellence.png"), linear-gradient(#000000, #000000);
  font-family: $font-stack;

  padding-top: 60px;

  @include themify($themes) {
    color: themed('textColor');
  }
}

h1,
h2,
h3 {
  text-align: center;
}

h5.faq {
  @include themify($themes) {
    color: themed('accentColor2');
  }
}

a {
  @include themify($themes) {
    &:link {
      color: themed('accentColor1');
    }

    &:visited {
      color: themed('accentColor1');
    }

    &:hover {
      color: themed('accentColor2');
    }

    &:active {
      color: themed('activeColor');
    }
  }
}

/*******************************************************/
/* For the banner image used at the top and the navbar */
/*******************************************************/
.banner-image {
  background-image: url("../../assets/images/mhq_splash.jpeg");

  /* Set a specific height */
  height: 350px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: 0;
}

/* Make the navbar semi-transparent */
.navbar.transparent {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

.navbar a {
  font-size: 1.1em;
}

/********************************/
/** Adjustments to containers  **/
/********************************/
.container-fluid {
  /* So that the banner image goes all the way to the edges */
  padding: 0px;
}

.container {
  padding: 15px;
}

.container.footer {
  padding-top: 0px;
  color: #dadfe1;
}

/* Custom top level container for the body */
.container.top {
  border-radius: 25px;
  margin-top: 10px;

  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

/* custom container for faq answers */
.container.faq {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: 2px inset;

  @include themify($themes) {
    color: themed('textColor');
    background-color: tint(themed('backgroundColor'), 10%);
  }
}

/*******************************************/
/* A special class for the download button */
/*******************************************/
.btn {
  border: 10px;
  color: #dadfe1;
  background-image: linear-gradient(#000000, #434343, #000000);
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px;

  @include themify($themes) {
    border: 5px solid themed('accentColor1');
  }
}

/* Make the text shine */
.btn:hover {
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  stroke-width: 5.3px;

    color: #dadfe1;

  @include themify($themes) {
    text-shadow: 1px 0px 20px themed('accentColor2');
    border: 5px solid themed('accentColor2');
  }
}

.btn:active {
  @include themify($themes) {
    background: themed('activeColor');
  }
}

.img-btn {
  float: left;
  height: 100px;
}

.btn span {
  line-height: 14px;
  font-size: 14px;
  padding: 4px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

/****************************************************/
/* styling for color switching                      */
/****************************************************/
.choose-dark {
  background-color: #555555;
  border: 1px solid grey;
  padding: 15px;
  display: inline-block;
}

.choose-light {
  background-color: #dadfe1;
  border: 1px solid grey;
  padding: 15px;
  display: inline-block;
}

.tooltip-switch {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

/****************************************************/
/* Override default lists to use Font Awesome icons */
/****************************************************/
ul {
  list-style-type: none;

  li:before {
    font-family: 'FontAwesome';
    content: '\f05b';
    margin: 0 5px 0 -20px;

    @include themify($themes) {
      color: themed('textColor');
    }
  }

  li.news:before {
    font-family: 'FontAwesome';
    content: '\f1ea';
    margin: 0 5px 0 -20px;

    @include themify($themes) {
      color: themed('textColor');
    }
  }
}




/*********************************************************************/
/* Screenshot carousel                                               */
/*********************************************************************/

.carousel {
  border: 3px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 5px;
  bottom: 10px;
  max-width: 400px;
}

.carousel-control-prev {
  background: rgba(0, 0, 0, 0.9);
  max-width: 30px;
  max-height: 30px;
  position: absolute;
  top: 50%;
  border-radius: 5px;
  margin-left: 20px;
}

.carousel-control-next {
  background: rgba(0, 0, 0, 0.9);
  max-width: 30px;
  max-height: 30px;
  position: absolute;
  top: 50%;
  border-radius: 5px;
  margin-right: 20px;
}

/*********************************************************************/
/* posts                                                             */
/*********************************************************************/
div.post-meta {
  border-width: 1px 0;
  border-color: #666666;
  border-style: solid;
  margin: 0 0 20px;

  ul {
    display: inline;
    padding-left: 0;
  }

  ul>li {
    display: inline;
    padding: 0 0 5px 20px;
  }

  li:before {
    content: '';
    margin: 0 5px 0 0px;
  }

  .post-time {
    display: inline;
  }
}

/*********************************************************************/
/* boostrap cards                                                    */
/*********************************************************************/

.dl-card {
  @include themify($themes) {
    background-color: themed('cardColor');
    color: themed('textColor');
  }
}




/*********************************************************************/
/* Code formatting                                                  */
/*********************************************************************/
pre {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  overflow-x: auto;
  padding: 8px 12px;
}

code.highlighter-rouge {
  border-radius: 5px;
  padding: 0px;

  @include themify($themes) {
    color: themed('accentColor2');
    font-weight: 600;
  }
}
