---
---

/*
 * Theme definitions
 */

:root {
  --background-color: #dadfe1;
  --text-color: #000000;
  --accent-color: #0000a0;
  --accent-color-alternate: #800080;
  --active-color: #00ffff;
  --card-color: #adb5bd;
}

[data-theme="dark"] {
  --background-color: #282828;
  --text-color: #dadfe1;
  --accent-color: #fffacd;
  --accent-color-alternate: #ffd700;
  --active-color: #f89406;
  --card-color: #343a40;
}

/*******************************************************/
/* Variables                                           */
/*******************************************************/

//fonts
$font-stack: "Source Sans Pro",
Trebuchet MS,
Arial,
Helvetica,
Verdana,
sans-serif;

/*******************************************************/
/* Basics                                              */
/*******************************************************/
body,
html {
  height: 100%;
}

body {
  background-image: url("../../assets/images/backgrounds/hexellence.png"), linear-gradient(#000000, #000000);
  font-family: $font-stack;

  padding-top: 70px;
  color: var(--text-color);
}

h1,
h2,
h3 {
  text-align: center;
}

h5.faq {
  color: var(--accent-color-alternate)
}

a {
  &:link {
    color: var(--accent-color);
  }

  &:visited {
    color: var(--accent-color);
  }

  &:hover {
    color: var(--accent-color-alternate);
  }

  &:active {
    color: var(--active-color);
  }
}

a.footer-link {
  &:link {
    color: #A57E54;
  }

  &:visited {
    color: #A57E54;
  }

  &:hover {
    color: #A57E54;
  }

  &:active {
    color: #A57E54;
  }
}

/* Make the navbar semi-transparent */
.navbar.transparent {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

/********************************/
/** Adjustments to containers  **/
/********************************/

.container.footer {
  color: #dadfe1;
}

/* Custom top level container for the body */
.container.top {
  border-radius: 25px;
  margin-top: 10px;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* custom container for faq answers */
.blockquote.faq {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: 2px inset;

  color: var(--text-color);
  background-color: tint(var(--background-color), 10%);
}

/*******************************************/
/* A special class for the download button */
/*******************************************/
a.download_link {
  text-decoration: none;
  color: #dadfe1;
  background-image: linear-gradient(#000000, #434343, #000000);
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px;
  border: 5px solid var(--accent-color);
  display: block;

  img {
    float: left;
    height: 100px;
  }

  span {
    line-height: 14px;
    font-size: 14px;
    padding: 4px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  &:hover {
    stroke-width: 5.3px;

    color: #dadfe1;
    text-shadow: 1px 0 20px var(--accent-color-alternate);
    border: 5px solid var(--accent-color-alternate);
  }

  &:active {
    background: var(--active-color);
  }
}

/****************************************************/
/* Override default lists to use Font Awesome icons */
/****************************************************/
ul {
  list-style-type: none;

  li:before:not([list-group-item]) {
    content: "\f05b";
    font-family: "Font Awesome 6 Free";
    padding-right: 5px;
    margin-left: -20px;
  }

  li.news:before {
    font-family: "Font Awesome 6 Free";
    content: "\f1ea";
  }

  li.list-group-item {
    color: var(--text-color);
    background-color: var(--background-color);
  }
}

/*********************************************************************/
/* Screenshot carousel                                               */
/*********************************************************************/

.carousel {
  border: 3px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 5px;
  bottom: 10px;
  max-width: 400px;
}

.carousel-control-prev {
  background: rgba(0, 0, 0, 0.9);
  max-width: 30px;
  max-height: 30px;
  position: absolute;
  top: 50%;
  border-radius: 5px;
  margin-left: 20px;
}

.carousel-control-next {
  background: rgba(0, 0, 0, 0.9);
  max-width: 30px;
  max-height: 30px;
  position: absolute;
  top: 50%;
  border-radius: 5px;
  margin-right: 20px;
}

/*********************************************************************/
/* posts                                                             */
/*********************************************************************/
div.post-meta {
  border-width: 1px 0;
  border-color: #666666;
  border-style: solid;
  margin: 0 0 20px;

  ul {
    display: inline;
    padding-left: 0;
  }

  ul>li {
    display: inline;
    padding: 0 0 5px 20px;
  }

  li:before {
    content: '';
    margin: 0 5px 0 0;
  }

  .post-time {
    display: inline;
  }
}

/*********************************************************************/
/* Bootstrap cards                                                    */
/*********************************************************************/

.dl-card {
  background-color: var(--card-color);
  color: var(--text-color);
}

/*********************************************************************/
/* Code formatting                                                  */
/*********************************************************************/
pre {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  overflow-x: auto;
  padding: 8px 12px;
}

code.highlighter-rouge {
  border-radius: 5px;
  padding: 0;

  color: var(--accent-color-alternate);
  font-weight: 600;
}

/* Nav Bar Dark Mode Toggle Switch */
/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 17px;
  position: relative;
  width: 30px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 13px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 13px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
