---
---

/*******************************************************/
/* Variables                                           */
/*******************************************************/

//fonts
$font-stack: "Source Sans Pro", Trebuchet MS, Arial, Helvetica, Verdana, sans-serif;

//my initial dark grey color combo
$font-color: #dadfe1;
$background-color: #3f3e3e;
$accent-color-light: #fffacd;
$accent-color-dark: #ffd700;
$accent-color-selected: #f89406;

//another darker background
//$background-color: #282828;

//a light background
//$background-color: #dadfe1;
//$font-color: #000000;
//$accent-color-light: #0000A0;
//$accent-color-dark: #800080;
//$accent-color-selected: #00FFFF;

/*******************************************************/
/* Basics                                              */
/*******************************************************/
body, html {
    height: 100%;
}

body {
  background-image: url("../../assets/images/backgrounds/hexellence.png"), linear-gradient(#000000, #000000);;
  color: $font-color;
  font-family: $font-stack;
}

h1,h2,h3 {
  text-align: center;
}

/* unvisited link */
a:link {
    color: $accent-color-light;
}

/* visited link */
a:visited {
    color: $accent-color-light;
}

/* mouse over link */
a:hover {
    color: $accent-color-dark;
}

/* selected link */
a:active {
    color: $accent-color-selected;
}

/*******************************************************/
/* For the banner image used at the top and the navbar */
/*******************************************************/
.banner-image {
    background-image: url("../../assets/images/mhq_splash.jpeg");

    /* Set a specific height */
    height: 350px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Make the navbar semi-transparent */
.navbar.transparent {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

.navbar a{
  font-size: 1.1em;
}

/********************************/
/** Adjustments to containers  **/
/********************************/
.container-fluid {
  /* So that the banner image goes all the way to the edges */
  padding: 0px;
}

.container {
  padding: 15px;
}

.container.footer {
  padding-top: 0px;
  color: #dadfe1;
}

/* Custom top level container for the body */
.container.top {
  border-radius: 25px;
  margin-top: 10px;
  background-color: $background-color;
}

/*******************************************/
/* A special class for the download button */ 
/*******************************************/
.btn {
  border: 10px;
  color: #dadfe1;
  background-image: url("../../assets/images/backgrounds/asfalt-light.png"), linear-gradient(#000000, #434343, #000000);
  border: 2px solid $accent-color-light;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px;
}

/* Make the text shine */
.btn:hover {
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px $accent-color-dark;
}

.btn:active {
  background: $accent-color-selected;
}

.img-btn {
  float: left;
  height: 100px;
}

.btn span {
    line-height: 14px;
    font-size: 14px;
    padding: 4px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;    
}

/****************************************************/
/* Override default lists to use Font Awesome icons */
/****************************************************/
ul
{
	list-style-type: none;
}

li:before {    
  font-family: 'FontAwesome';
  content: '\f05b';
  margin:0 5px 0 -20px;
  color: $font-color;
}

li.news:before {    
  font-family: 'FontAwesome';
  content: '\f1ea';
  margin:0 5px 0 -20px;
  color: $font-color;
}

/*********************************************************************/
/* sets carousel size                                                */
/* https://parkhurstdesign.com/improved-carousels-twitter-bootstrap/ */
/*********************************************************************/
.slider-size {
height: 600px; /* This is your slider height */
}
.carousel {
width:100%; 
margin:0 auto; /* center your carousel if other than 100% */ 
}

/*********************************************************************/
/* posts                                                             */
/*********************************************************************/
div.post-meta {
  border-width: 1px 0;
  border-color: #666666;
  border-style: solid;
  margin: 0 0 20px;
  ul {
    display: inline;
    padding-left: 0;
    float: right;
  }
  ul > li {
    display: inline;
    padding: 0 0 5px 20px;
  }
  li:before {    
    content: '';
    margin:0 5px 0 0px;
  }
  .post-time {
    display: inline;
  }
}

/*********************************************************************/
 /* Code formatting */
/*********************************************************************/
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }
