{% include header.html %}

  <main role="main">
    <div class="theme-light">
      <div class="container top">
        <div class="row">
          <div class="col-md-12">
            {% if page.splash %}
              <img class="rounded float-right d-sm-none d-md-block ml-2" width=350px src="assets/images/{{ page.splash }}" alt="image">
              {% endif %}
              {{ content }}
            </div>
          </div>
        </div>
      </div>
  </main>
  {% include footer.html %}
</body>
</html>
